{% extends "etudiants/base.html" %}
{% block body %}
<h3 class="text-center m-4">Ajouter etudiant</h3>
{% if success %}
<div class="alert alert-success" role="alert">
    Le nouveau etudiant a ajouté avec succès.
    <a href="{% url 'etud' %}" class="alert-link">Aller à la page d’accueil.</a>
</div>
{% else %}
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card bg-light mb-3">
            <div class="card-header">
                <i class="fa-solid fa-address-card "></i> Inscription des etudiants
            </div>
            <div class="card-body">
                <form action="{% url 'addetud' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                    <a href="{% url 'etud' %}" class="btn btn-secondary">Annuler</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}



{% endblock %}